# Washington DC Housing Market Analysis

# Exploratory Data Analysis

## Project Goal

The goal of this analysis is to explore Washington DC housing market data and gather initial findings. From these findings, we will reconfigure and group the Washington DC regions according to various housing statistics. Upon reconfiguration, these regions will then show similar/same sale prices and other housing characteristics. This analysis will be the basis of future evaluation including building predictive models to predict future home sale price and other notable housing market variables.

## Summary of Data

This analysis uses housing market data from the time period of February 2012 to October 2019, including data for prices (median sale price, percentage of homes sold above list price, percentage of homes that had price drop, etc.), inventory (number of homes on market, new listings, months of supply, etc.), and sales (number of homes sold, median days on market, etc.).

#### Data Source: https://www.redfin.com/blog/data-center

### Library Import

In [1]:
#Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

## Data Import and Data Cleaning
### Importing data and creating dataframes for each Washington DC region
#### All required datasets are downloaded in our folder titled "data"

In [2]:
# set up name label to match each csv dataset
lst = []
for i in range(1,83):
    location = 'data/'
    ext = 'data_crosstab ({}).csv'.format(i)
    final = location + ext
    lst.append(final)
    # print(final)

# pull datasets from data folder and clean data such as $1,200K, 1.5%, etc. Change data type from object to float
# create a new list: df_list to include all datasets
df_list = []
i = 0
for location in lst:
    df = pd.read_csv(location, encoding='utf-16', sep='\t')
    df = df.add_suffix('_'+str(i))
    # reformat the median sale prices from strings to floats
    #df["Median Sale Price" + "_"+ str(i)] = df["Median Sale Price" + "_"+ str(i)].str.replace("$", "").str.replace(",", "").str.replace("K","000").str.replace("%","").astype(float)
    for j in range(len(df.columns)-2):
        if df[df.columns[j+2]].dtype == 'object':
            df[df.columns[j+2]] = df[df.columns[j+2]].str.replace("$", "").str.replace(",", "").str.replace("K","000").str.replace("%","").astype(float)
        #df[df.columns[j+2]] = df[df.columns[j+2]].str.replace("$", "").str.replace(",", "").str.replace("K","000").str.replace("%","").astype(float)
    df_list.append(df)
    i += 1

#Overview of Washington DC housing market data
df_list[0].head()

,Region_0,Month of Period End_0,Median Sale Price_0,Median Sale Price MoM _0,Median Sale Price YoY _0,Homes Sold_0,Homes Sold MoM _0,Homes Sold YoY _0,New Listings_0,New Listings MoM _0,New Listings YoY _0,Inventory_0,Inventory MoM _0,Inventory YoY _0,Days on Market_0,Days on Market MoM_0,Days on Market YoY_0,Average Sale To List_0,Average Sale To List MoM _0,Average Sale To List YoY _0
0,"Washington, DC - Adams Morgan / Kalorama Heigh...",February 2012,444000.0,-0.7,-15.4,63,-19.2,31.3,81,11.0,12.5,84,-6.7,7.7,70,21,15,98.0,0.4,0.2
1,"Washington, DC - Adams Morgan / Kalorama Heigh...",March 2012,399000.0,-10.1,-19.4,79,25.4,58.0,130,60.5,20.4,90,7.1,-10.0,49,-21,-5,98.7,0.7,1.7
2,"Washington, DC - Adams Morgan / Kalorama Heigh...",April 2012,425000.0,6.5,-30.0,93,17.7,57.6,137,5.4,-2.8,85,-5.6,-31.5,30,-19,-16,99.3,0.6,1.8
3,"Washington, DC - Adams Morgan / Kalorama Heigh...",May 2012,420000.0,-1.2,-28.0,116,24.7,63.4,143,4.4,-10.6,88,3.5,-33.8,19,-11,-11,99.1,-0.2,1.1
4,"Washington, DC - Adams Morgan / Kalorama Heigh...",June 2012,476000.0,13.3,-12.9,114,-1.7,34.1,111,-22.4,-29.3,91,3.4,-29.5,21,2,-9,99.1,0.0,0.9

In [3]:
#review the column names 
df.columns

Index(['Region_81', 'Month of Period End_81', 'Median Sale Price_81',
       'Median Sale Price MoM _81', 'Median Sale Price YoY _81',
       'Homes Sold_81', 'Homes Sold MoM _81', 'Homes Sold YoY _81',
       'New Listings_81', 'New Listings MoM _81', 'New Listings YoY _81',
       'Inventory_81', 'Inventory MoM _81', ' Inventory YoY _81',
       'Days on Market_81', 'Days on Market MoM_81', 'Days on Market YoY_81',
       'Average Sale To List_81', 'Average Sale To List MoM _81',
       'Average Sale To List YoY _81'],
      dtype='object')

Above, we can see a brief overview of our Washington DC housing market data that we gathered from Redfin. After some examination of the variables within this dataset, we wanted to narrow our testing down to only a few of the variables that we deemed most important for our future analysis.

The most important variable to us is Median Sale Price, as the main goal of our analysis and testing is to be able to eventually build predictive models that predict future home sale price. We determined that we will use Median Sale Price in our testing. Additionally, we decided to use Homes

We also want to confirm that our previous code worked in converting all of our variables that were listed as a "non-null object" (besides Region and Month of Period End) to floats or integers that we can work with in our testing. The below code shows that our variable conversions were indeed successful and the data is able to be worked with.

In [4]:
# Ensure the data types are appropriate for analysis
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94 entries, 0 to 93
Data columns (total 20 columns):
Region_81                       94 non-null object
Month of Period End_81          94 non-null object
Median Sale Price_81            94 non-null float64
Median Sale Price MoM _81       94 non-null float64
Median Sale Price YoY _81       94 non-null float64
Homes Sold_81                   94 non-null int64
Homes Sold MoM _81              94 non-null float64
Homes Sold YoY _81              94 non-null float64
New Listings_81                 94 non-null int64
New Listings MoM _81            94 non-null float64
New Listings YoY _81            94 non-null float64
Inventory_81                    94 non-null int64
Inventory MoM _81               94 non-null float64
 Inventory YoY _81              94 non-null float64
Days on Market_81               94 non-null int64
Days on Market MoM_81           94 non-null int64
Days on Market YoY_81           94 non-null int64
Average Sale To List_81         94 non-null float64
Average Sale To List MoM _81    94 non-null float64
Average Sale To List YoY _81    94 non-null float64
dtypes: float64(12), int64(6), object(2)
memory usage: 14.8+ KB

### Creating dataframe containing median sale prices, Homes Sold MoM and Inventory MoM of each Washington DC region from Feb. 2012 to Oct. 2019

In [5]:
# Create datasets for median sale prices, Homes Sold MoM and Inventory MoM and save them in data folder


#Creating dataframe containing Median Sale Price of each Washington DC region from Feb. 2012 to Oct. 2019 
final_lst = []
i = 0
for df in df_list:
    final_lst.append(df["Median Sale Price" + "_"+ str(i)][0:93])
    i += 1
median_sale_price = pd.concat(final_lst, axis = 1)
median_sale_price.to_csv('data/Median Sale Price.csv')

#Overview of median_sale_price data
#median_sale_price

#Creating dataframe containing Homes Sold MoM of each Washington DC region from Feb. 2012 to Oct. 2019 
final_lst_2 = []
i = 0
for df in df_list:
    final_lst_2.append(df["Homes Sold MoM " + "_"+ str(i)][0:93])
    i += 1
homes_sold_mom = pd.concat(final_lst_2, axis = 1)
homes_sold_mom.to_csv('data/Homes Sold MoM.csv')

#Overview of homes_sold_mom data
#homes_sold_mom

#Creating dataframe containing inventory MoM of each Washington DC region from Feb. 2012 to Oct. 2019 
final_lst_3 = []
i = 0
for df in df_list:
    final_lst_3.append(df["Inventory MoM " + "_"+ str(i)][0:93])
    i += 1
inventory_mom = pd.concat(final_lst_3, axis = 1)
inventory_mom.to_csv('data/Inventory MoM.csv')

#Overview of inventory_mom data
#inventory_mom